@page "/Admin/ManageTypeLoan"

<div class="container mt-3">

    <div class="mx-2 row">
        <div class=" mt-3 col-6"></div>
        <div class="mt-3 col-2" style="text-align:end">
            <button type="button" class="btn secondary-bg shadow rounded text-center" @onclick="CreateLoan" style="border-radius: 5px;width:180px"><i class="fas fa-plus-circle mx-2"></i>สร้างประเภทใหม่</button>
        </div>
        <div class=" mt-3 col-4">

            <form class="d-flex">
                <input class="form-control me-2 shadow rounded" type="search" placeholder="Search" aria-label="Search">

                <button type="button"
                        class="btn btn-outline-secondary primary-bg-drop shadow rounded">
                    <i class="fas fa-search"></i>
                </button>

            </form>

        </div>


        <table class="table table-hover border-table mt-4 " style="border-top: 1px solid">
            <thead class=" primary-bg text-light">
                <tr>
                    <th>สถานะ</th>
                    <th>วันที่สร้าง</th>
                    <th>ชื่อประเภทการกู้</th>
                    <th>วงเงินสูงสุด (บาท)</th>
                    <th>ดอกเบี้ย (ต่อปี)</th>
                    <th>จำนวนงวดสูงสุด </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @for (var i = 0; i < ListLoan.Count; i++)
                {
                    var item = ListLoan[i];



                    <tr class="py-2" style="background-color:whitesmoke ;">
                        <td class="text-center font-color font-weight-bolder">
                            @if (item.Active == true)
                            {


                                <div>Active</div>
                            }
                            else
                            {
                                <div>Disable</div>
                            }

                        </td>
                        <td class="text-center">12 กค 64 12:30</td>
                        <td class="text-center">

                            @if (item.LoanParentName == item.LoanTypeName)
                            {
                                @item.LoanParentName
                            }
                            else
                            {
                                <div> @item.LoanParentName (@item.LoanTypeName)</div>
                            }
                        </td>
                        <td class="text-center">
                            @if (@item.LoanMaxAmount == 0)
                            {
                                <div>ไม่จำกัด</div>
                            }
                            else
                            {
                                @item.LoanMaxAmount
                            }
                        </td>
                        <td class="text-center">
                            @if (@item.LoanInterate == 0)
                            {
                                <div>ไม่มี</div>}
                            else
                            { @item.LoanInterate}
                        </td>
                        <td class="text-center">
                            @item.LoanPeriod
                        </td>
                        <td>
                            <div class="p-2">
                                <button type="button" class="btn button-color shadow rounded text-center text-light" 
                                        @onclick="()=>checkedData(item) "
                                        style="border-radius: 5px;width:180px">ปรับเปลี่ยนสถานะ</button>

                               @* @if (@item.Active == true)
                                {



                                }
                                else
                                {

                                }*@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>





    </div>
    @*<div class="footer primary-bg"  @onclick="CreateLoan">
            <div class="row">
                <div class="col">

                </div>
                <div class="col my-3 newtype text-light">
                    สร้างประเภทใหม่
                </div>
                <div class="col">

                </div>
            </div>


        </div>*@

</div>
@*footer*@
@*<div class="footer">



    </div>*@




LoanParentName => @selectLoan.LoanParentName
@code {
    public Boolean countTable = false;
    public string grayColor = "#d3d5d4";
    public string whiteColor = "#ffffff";

    List<LoanType> ListLoan;
    LoanType selectLoan;

    public void CreateLoan()
    {
        NavigationManager.NavigateTo("/Admin/CreateTypeLoan");
    }


    protected override void OnInitialized()
    {
        ListLoan = new List<LoanType>();
        selectLoan = new LoanType();
        ListLoan = _context.LoanTypes.ToList<LoanType>();
    }

    public void checkedData(LoanType data)
    {
        Console.WriteLine(data);
        selectLoan = data;
    }
}





@*    protected async override Task OnInitializedAsync()
    {
        ModelApplyLoan = new ApplyLoanModel();
        ModelApplyLoan = await sessionStorage.GetItemAsync<ApplyLoanModel>("FromLoan_1");
        Console.WriteLine(ModelApplyLoan);
    }*@



