@page "/user/checkloan"

@using System;
@using System.IO;
@using System.Text.Json;
@using Newtonsoft.Json;

@inject IJSRuntime JS

<div class="container mt-5">
    <div class="h3">สถานะการกู้ยืมปัจจุบัน</div>
    <div class="owl-carousel owl-theme pt-2">
        <div class="mx-2 pt-2">
            <div class="card" style="border-color:blue">
                <div class="card-body">
                    <div class="card-title h5" style="color:blue">ทำรายการกู้ยืมไปแล้ว</div>
                    <p class="h1" style="color:blue">฿12000</p>
                    <div class="text-end"style="color:blue" >
                        <div>ผ่อนชำระรวม 2000 บาทต่อเดือน</div>
                        <div>เงินเดือนหลังหักชำระเหลือ 10000 ยังกู้ได้อีกนะ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-2 pt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title h5">เงินกู้เพื่อกิจกรรมฯ</div>
                    <p class="h1">฿5000</p>
                    <div class="text-end">
                        <div>เหลืออีก 12 งวด</div>
                        <div>ชำระเงินไปแล้ว 0 บาท</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-2 pt-2">
            <div class="card " style="background-color:khaki;border-color:yellow">
                <div class="card-body">
                    <div class="card-title h5">รออนุมัติการกู้</div>
                    <p class="h1">฿5000</p>
                    <div class="text-end">
                        <div>เงินกู้เพื่อการศึกษา</div>
                        <div>ยื่นกู้เมื่อ 19 กรกฎาคม 2564</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 h3">ข้อมูลการกู้ยืมแต่ละประเภท</div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-xl-2 pt-3">
            <select class="form-select" aria-label="Default select example">
                <option value="0" selected>เฉพาะที่กู้ได้</option>
                <option value="1">ทั้งหมด</option>
            </select>
        </div>
    </div>

    <div class="mt-4 owl-carousel owl-theme">
        @for (var x = 0; x < listLoan.Count; x++)
        {
            var itam = listLoan[x];
            var index = x + 1;

            <div class="mx-2">
                <div class="card" style="width:380px;">
                    <div class="card-body">
                        <div class="card-title h5">@index. @itam.Name</div>
                        @if (itam.MaxTotal.Count != 0)
                        {
                            for (var i = 0; i < itam.MaxTotal.Count; i++)
                            {
                                var MaxTotal = itam.MaxTotal[i];
                                <div class="row">
                                    <div class="col">วงเงินสูงสุด</div>
                                    <div class="col text-end">
                                        @if (MaxTotal.Money == 0)
                                        {
                                            @itam.Nots
                                        }
                                        else
                                        {
                                            @MaxTotal.Money @typeMoney;
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">อัตราดอกเบี้ย</div>
                                    <div class="col text-end">@MaxTotal.Tax %</div>
                                </div>
                                <div class="row">
                                    <div class="col">ผ่อนชำระสูงสุด</div>
                                    <div class="col text-end">@MaxTotal.Period เดือน</div>
                                </div>
                                <div class="row">
                                    <div class="col">หมายเหตุ</div>
                                    <div class="col">@MaxTotal.Nots</div>
                                </div>

                                if (itam.MaxTotal.Count != i + 1)
                                {
                                    <hr />
                                }
                            }
                        }

                        <div class="row mt-3 mx-1" style="">
                            <div class="col d-grid gap-2">
                                <button type="button" class="btn btn-outline-primary">รายละเอียด</button>
                            </div>
                            <div class="col d-grid gap-2">
                                <button type="button" class="btn btn-primary">ยื่นกู้</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

@code {
    List<LoanInfoModel> listLoan;
    string jsonLoanData = "wwwroot/json/LoanData.json";
    private string typeMoney { get; set; }

    @*run code ก่อนแล้ว run js หลัง*@
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("Cardimgheader");
        }
    }

    protected override void OnInitialized()
    {
        typeMoney = " บาท";
        listLoan = new List<LoanInfoModel>();
        string jsonString = File.ReadAllText(jsonLoanData);
        listLoan = JsonConvert.DeserializeObject<List<LoanInfoModel>>(jsonString);
    }
}
